<div class="row">
	<div class="col-md-4"></div>
	<div class="welcome center col-md-4">
		<h1 class="padded">Welcome to the Fancy Blog</h1>
		<p>Allows CRUD operations, authentication, tagging plus search by tag, and comments. Features styling via Twitter Bootstrap.</p>
		<p>Perfect for an IT 232 final project.</p>
		<div class="clear padded"></div>
		<%= link_to ' Continue to blog...', posts_path, class: "glyphicon glyphicon-chevron-right padded" %>
	</div>
	<div class="col-md-4"></div>
</div>
<div class="clear"></div>
